{% extends 'base.html' %}
{% block css %}
    <style>
        .bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

@media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
}
    </style>
{% endblock css %}

{% block body %}
<section class="vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-black">
  
          <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
  
            <form style="width: 23rem;" action="{% url 'login' %}" method="post">
             {% csrf_token %}
             <div class="px-5 ms-xl-4">
                <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
                <span class="h1 fw-bold mb-0">Login Page </span>
              </div>
              <br><br>
              <div class="form-outline mb-4">
                <label class="form-label" >Enter Username</label>
                <input type="text" class="form-control form-control-lg" name="username" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" >Enter Password</label>
                <input type="password" class="form-control form-control-lg" name="password1" />
              </div>
                <br><br>
              <div class="pt-1 mb-4">
                <button class="btn btn-info btn-lg btn-block" type="submit">Login</button>
              </div>
              <p>Don't have an account? <a href="{% url 'register' %}" class="link-info">Register here</a></p>
  
            </form>
  
          </div>
  
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
            {% load static %}
          <img src="{% static 'images\logbimg.jpg' %}"
            alt="Login image" class="w-100 vh-100 h-40" style="object-fit: cover; object-position: left;">
        </div>
      </div>
    </div>
  </section>


{% endblock body %}