{% include "admin_navbar.html" %}
{% load static %}
{% block title %}
<title>Update Page</title>
{% endblock title %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark " id="nav">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'adminn_homepg' %}"><i class="bi bi-house-fill"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'home1' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'adminn_login' %}">Admin</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'book' %}">Back</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a>
                  </li>
                
              </ul>
            </div>
          </div>
        </nav>

        <section class="vh-100" style="background-color: #eee;">
            <div class="container h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                  <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                      <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
          
                          <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Ticket Amount</p>
                          
                          <div class="form-control" style="margin-top: 1cm; margin-bottom: 1cm;">
                            <div class="form-group">
                                <span class="form-label">No. of ADULTS : {{adults}}</span>
                            </div>
                          </div>

                            <div class="form-control" style="margin-top: 1cm; margin-bottom: 1cm;">
                              <div class="form-group">
                                  <span class="form-label">Amount Per Person : ₹ {{amt}}</span>
                              </div>
                            </div>

                            <div class="form-control" style="margin-top: 1cm; margin-bottom: 1cm;">
                              <div class="form-group">
                                  <span class="form-label">Total Payable amount : ₹ {{total}}</span>
                              </div>
                        </div>

                          <form class="mx-1 mx-md-4 " action="{% url 'tickets' %}" method="post">
                            {% csrf_token %}
                            
                            <div class="d-flex flex-row align-items-center mb-4">
                              <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">
                              </div>
                            </div>   
                              
                            </form>
                            
                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                <input type="submit" class="btn btn-primary btn-lg " style="margin-right: 16px;" 
                                value="Book" onclick="functionTobook()" >
                                
                            
                            <a href="{% url 'book' %}" class="btn btn-dark btn-lg " style="margin-right: 16px;">Back</a>
                          </div>
                        </div>
                        <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
              
                            <img src="{% static 'images\travell.avif' %}"
                              class="img-fluid" alt="Sample image">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    
    <script>
        function functionTobook(){
            alert("Thankyou, Your Tickets are booked successfully !! ")
            a= location.href="http://127.0.0.1:8000/home1"
            return a
        }
        

    </script>
          
          {% endblock body %}