{% include "admin_navbar.html" %}
{% load static %}
{% block title %}
<title>Update Page</title>
{% endblock title %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark " id="nav">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'adminn_homepg' %}"><i class="bi bi-house-fill"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'adminn_homepg' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'destination_model' %}">Destination</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'places_model' %}">Places</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'booking_model' %}">Booking</a>
                  </li>
  
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'logout' %}">Exit</a>
                </li>
                
              </ul>
            </div>
          </div>
        </nav>


    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Update Bookings</p>
                  
                  <form class="mx-1 mx-md-4 " action="{% url 'update_book' update_book_obj.id %}" method="post">
                    {% csrf_token %}
                    
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="email">Email</label>
                        <input type="text" id="email" name="email" class="form-control" value="{{update_book_obj.email}}" />
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="phone">Mobile No.</label>
                        <input type="text" id="phone" name="phone" class="form-control" value="{{update_book_obj.phone}}" />
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="destination">Destination</label>
                        <input type="text" id="destination" name="destination" class="form-control" value="{{update_book_obj.destination}}" />
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="traveldate">Travel Date</label>
                        <input type="date" id="traveldate" name="traveldate" class="form-control" pattern="\d{4}-\d{2}-\d{2}" value="{{date}}" />
                      </div>


                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="aadhar">Aadhar No.</label>
                        <input type="text" id="aadhar" name="aadhar" class="form-control" value="{{update_book_obj.aadhar}}" />
                      </div>
                    </div>


                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="adults">No. of Adults</label>
                        <input type="text" id="adults" name="adults" class="form-control" value="{{update_book_obj.adults}}" />
                      </div>
                    </div>
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <input type="submit" class="btn btn-primary btn-lg " style="margin-right: 16px;" value="Update">
                      <a href="{% url 'booking_model' %}" class="btn btn-danger btn-lg" style="margin-right: 16px;">Cancel</a>
                    </div>
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="{% static 'images\replicabg.jpg' %}"
                    class="img-fluid" alt="Sample image" style="border-radius: 1cm;">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 

  
  {% endblock body %}